// * {
//   border: 1px solid red;
// }

$showW: 90vw;
$showH: 90vh;
$blockC: #c5fce7;

svg {
  position: absolute;
  top: 0;
  width: $showW;
  height: $showH;
  pointer-events: none;
  user-select: none;
}

.contentWrap {
  margin: auto;
  width: $showW;
  height: $showH;
  display: flex;
  position: relative;
  flex-flow: column;
  user-select: none;
  perspective: -1000px;
  .row {
    // border: 1px solid blue;
    height: 95%;
    display: flex;
    justify-content: space-evenly;

    .sizeFixer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .tile {
      display: flex;
      width: 80%;
      height: 90%;
      justify-content: center;
      align-items: center;
      &.hide {
        display: none;
      }
      &.block {
        border: 3px solid $blockC;
        box-shadow: 1px 1px 3px darken($blockC, 10);
        background: linear-gradient($blockC, #fefefe);
        &:hover {
          transform: scale(101%);
          border: 3px solid rgba(165, 147, 42, 0.89);
          box-shadow: 1px 1px 3px darken(rgba(165, 147, 42, 0.89), 10);
        }
      }
      &.selected {
        background-color: none;
        background: linear-gradient(rgba(136, 6, 6, 0.884), rgba(54, 2, 2, 0.856));
      }
    }
  }
}

#hint {
  width: 30vw;
  height: 5vh;
  margin: auto;
  user-select: none;
  button {
    width: 100%;
    height: 100%;
    background-color: #9b7b7b;
    &:hover {
      background-color: darken($color: #9b7b7b, $amount: 30);
    }
  }
}
